{% extends "base.html" %}
{% block title %}accueil{% endblock %}
{% block content %}
<h1>home</h1>
<br>
<a href="{{url_for("create")}}" class="btn btn-success">Create</a>
<br>
<br>
{% for item in todos %}
    {{item.title}}
    <br>
    {{item.description}}
    <br>
    <a href="{{url_for("delete", id= item.id)}}" class="btn btn-danger">delete</a>
    <a href="{{ url_for("detail",id= item.id) }}" class="btn btn-dark">detail</a>
    <a href="{{ url_for("update",id=item.id) }}" class="btn btn-primary">update</a>
    <h1>--------------------------</h1>
{% endfor %}
{% endblock %}

